/*
 * XL >= 1200px
 * L >= 992px
 * M >= 768px
 * S >= 576px
 * XS <= 575px
*/
@import "https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,600,700,800,900&display=swap";
body {
	margin: 0;
	font-family: 'Montserrat', arial, sans-serif;
	background-image: url("../images/symphony.png");
}
.inner-page {
	// background: #fff;
}
.danger {
	color: #c00;
}
.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}
nav {
	background-color: #fff;
	height: 46px;
	.nav-icon {
		display: inline-block;
		height: 24px;
		width: 24px;
		padding: 11px 0;
		img {
			height: 100%;
			width: auto;
			user-select: none;
		}
	}
	.nav-title,
	.nav-user {
		display: inline-block;
		vertical-align: bottom;
		a, p {
			color: #0d1110;
			text-decoration: none;
			font-weight: 600;
			padding: 13.5px 5px;
			display: inline-block;
			font-size: 16px;
			user-select: none;
			span {
				color: #f39a00;
				font-weight: 400;
			}
		}
	}

	.nav-user {
		float: right;
		p {
			margin: 0;
			color: slategray;
			font-weight: 500;
		}
	}
}
#login-form {
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	max-width: 300px;
	padding: 25px;
	background-color: #fff;
	margin: 50px auto;
	.notes {
		p {
			font-size: 13px;
			margin: 5px 0;
		}
	}
	label {
		font-size: 14px;
		display: block;
		width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		font-weight: 600;
		margin-bottom: 5px;
		color: #333;
	}
	input {
		font-size: 14px;
		display: block;
		width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding: 10px 5px;
		margin-bottom: 15px;
		border: solid 1px #ccc;
		max-height: 38px;
		border-radius: 0;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		.has-error {
			border: solid 1px rgba(204, 0, 0, 0.5);
		}
	}
	select {
		font-size: 14px;
		display: block;
		width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding: 10px 5px;
		margin-bottom: 15px;
		border: solid 1px #ccc;
		max-height: 38px;
		border-radius: 0;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		.has-error {
			border: solid 1px rgba(204, 0, 0, 0.5);
		}
	}
	input[type='submit'] {
		font-weight: 600;
		background-color: #333;
		border-color: #333;
		color: #fff;
		&:hover {
			cursor: pointer;
		}
	}
	div[class^="errors"] {
		background-color: rgba(204, 0, 0, 0.2);
		padding: 10px;
		margin-bottom: 20px;
		border: solid 1px rgba(204, 0, 0, 0.5);
		p {
			color: #c00;
			font-size: 13px;
			margin: 5px 0;
			text-transform: lowercase;
			&:first-letter {
				text-transform: uppercase;
			}
		}
	}
}
.inner-page {
	min-width: 380px;
	label {
		font-size: 13px;
		display: block;
		width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		font-weight: 500;
		margin-bottom: 5px;
		color: darkslategray;
	}
	
	input,
	select,
	textarea {
		font-size: 14px;
		display: block;
		width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding: 10px 5px;
		margin-bottom: 15px;
		border: solid 1px #ccc;
		max-height: 38px;
		border-radius: 4px;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		.has-error {
			border: solid 1px rgba(204, 0, 0, 0.5);
		}
	}
	textarea {
		max-height: none;
		resize: vertical;
	}
	input[type='submit'] {
		font-weight: 500;
		background-color: dodgerblue;
		border-color: dodgerblue;
		color: #fff;
		margin-top: 25px;		
		&:hover {
			cursor: pointer;
			background-color: darken($color: #1e90ff, $amount: 10);

		}
	}
	div[class^="errors"] {
		background-color: rgba(204, 0, 0, 0.2);
		padding: 10px;
		margin-bottom: 20px;
		border: solid 1px rgba(204, 0, 0, 0.5);
		p {
			color: #c00;
			font-size: 13px;
			margin: 5px 0;
			text-transform: lowercase;
			&:first-letter {
				text-transform: uppercase;
			}
		}
	}
}
.table-responsive {
	overflow-x: auto;
}
.table {
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
    text-transform: uppercase;
    background-color: #ffffff;
	tr {
		&:first-child {
			td {
				padding-top: 10px;
			}
		}
		&:last-child {
			td {
				padding-bottom: 10px;
			}
			th {
				padding-bottom: 10px;
			}
		}
		&:nth-child(even) {
			background-color: #f2f2f2;
		}
	}
	th {
		border: none;
	}
	td {
		border: none;
	}
	thead {
		border-bottom: solid 2px slategray;
		th {
			color: darkslategray;			
			padding: 10px;
			font-size: 13px;
			text-align: left;
			font-weight: 600;
			background-color: #fff;
		}
	}
	tbody {		
		th {
			font-size: 13px;
			padding: 8px 10px;
			font-weight: 500;
		}
		td {
			font-size: 13px;
			padding: 8px 10px;
			font-weight: 400;
			&:first-child {
				font-weight: 500;
			}
		}
	}
	tfoot {
		border-top: solid 2px #708090;
		th {
			padding-top: 8px;
			padding-left: 8px;
			padding-right: 8px;
			font-size: 14px;
		}
	}
}
.table.savings-summary-table {
	margin: 25px 0;
	max-width: 200px;
	border: solid 1px #ccc;
	text-align: left;
	td {
		font-weight: 500;
	}
	th {
		font-weight: 600;
	}
	tr {
		background-color: #fff;
		border: none;
		&:nth-child(1) {
			th {
				padding: 15px 15px 3px 15px;
			}
			td {
				padding: 15px 15px 3px 15px;
			}
		}
		&:nth-child(2) {
			th {
				padding-bottom: 10px;
				padding: 3px 15px 10px 15px;
			}
			td {
				padding-bottom: 10px;
				padding: 3px 15px 10px 15px;
			}
		}
		&:nth-child(3) {
			background-color: #f2f2f2;
			th {
				padding: 10px 15px 10px 15px;
			}
			td {
				padding: 10px 15px 10px 15px;
			}
		}
	}
}
.breadcrumbs {
	padding: 0;
	>li {
		list-style: none;
		display: inline-block;
		>a {
			text-decoration: none;
		}
	}
	li {
		+ {
			li {
				margin-left: 3px;
				border-left: solid 1px #ccc;
				padding-left: 7px;
			}
		}
	}
}
.panel {
	border: solid 1px slategray;
    border-radius: 4px;
    background-color: rgba(255,255,255,0.5);
	box-shadow: 0px 3px 9px rgba(0,0,0,0.3);
	margin-bottom: 25px;
	.panel-heading {
		background: slategray;
    	padding: 12px 10px;
	}
	.panel-title {
		font-size: 14px;
		display: block;
		margin: 0;
		line-height: 1.3em;
		color: #fff;
		font-weight: 500;
	}
	.panel-content {
		padding: 10px;
	}
}
.table-filter {
	font-size: 12px;
}
.row {
	display: block;
	margin-left: -10px;
	margin-right: -10px;
	font-size: 0;	
}
[class^="col-"] {
	padding-left: 10px;
	padding-right: 10px;
	box-sizing: border-box;
	vertical-align: top;
	display: inline-block;
	width: 100%;
}
.col-6 {
	width: 50%;
}
.col-5 {
	width: 41.66%;
}
.col-4 {
	width: 33.33%;
}
.col-3 {
	width: 25%;
}
.col-2 {
	width: 16.66%;
}
.text-right {
	text-align: right !important;
}
.text-center {
	text-align: center !important;
}
.text-left {
	text-align: left !important;
}
.text-capitalize {
	text-transform: capitalize;
}
.text-subtext {
	color: darkgray;
	font-family: monospace;	
}
.max-width-xs {
	max-width: 575px;
}
.mt-5 {
	margin-top: 5px;
}
.float-right {
	float: right;
}
.d-inline-block {
	display: inline-block;
}	

@media (max-width: 575px) {
	.table {
		thead {
			th {
				font-family: sans-serif;
				font-size: 12px;
			}
			td {
				font-family: sans-serif;
				font-size: 12px;
			}
		}
		tbody {
			th {
				font-family: sans-serif;
				font-size: 12px;
			}
			td {
				font-family: sans-serif;
				font-size: 12px;
				line-height: 1.5em;
			}
		}
		tfoot {
			th {
				font-family: sans-serif;
				font-size: 12px;
			}
			td {
				font-family: sans-serif;
				font-size: 12px;
			}
		}
	}
	.d-none {
		display: none;
	}
	.d-block {
		display: block;
	}	
}
@media (min-width: 576px) {
	.d-sm-none {
		display: none;
	}
	.d-sm-block {
		display: block;
	}
	.d-sm-table-cell {
		display: table-cell;
	}
	.col-sm-6 {
		width: 50%;
	}
	.col-sm-5 {
		width: 41.66%;
	}
	.col-sm-4 {
		width: 33.33%;
	}
	.col-sm-3 {
		width: 25%;
	}
	.col-sm-2 {
		width: 16.66%;
	}
}

@media (min-width: 768px) {
	.col-md-4 {
		width: 33.3333333333%;
	}
	.col-md-8 {
		width: 66.6666666667%;
	}
}

